@font-face {
    font-family: "FiraSans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/subset-FiraSans-Bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/subset-PTSans-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/subset-PTSans-Bold.woff2") format("woff2");
    font-display: swap;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "PTSans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
}

html {
  height: 100%;
}

.page-main {
  flex-grow: 1;
  background-color: #ffffff;
}

/* header */

.page-header {
  background-color: #f3f7f9;
}

.header-contacts {
  background-color: #f3f7f9;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  min-height: 44px;
  width: 1170px;
  margin: 0 auto;
}

.header-slogan {
  color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  max-width: 50%;
  padding: 13px 0;
  margin-right: auto;
  letter-spacing: 0.3px;
}

.header-address {
  display: block;
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  margin: 11px 31px 15px 0;
  font-style: normal;
  letter-spacing: -0.1px;
  max-width: 350px;
}

.header-phones {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 12px 4px 12px 0;
  max-width: 200px;
}

.phone-icon {
  width: 16px;
  height: 16px;
  fill: #293449;
  margin-right: 8px;
}

.header-phone {
  text-decoration: none;
  padding: 0;
  color: #293449;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: flex-start;
  text-align: right;
}

.header-phone:before {
  content: url("../images/phone.svg");
  margin-right: 8px;
}

.header-phone:hover {
  color: rgba(41, 52, 73, 0.5);
}

.header-phone:active {
  color: rgba(41, 52, 73, 0.3);
}

.header-phone:focus-visible {
  outline: 2px solid #3d546f;
  outline-offset: 2px;
  border-radius: 2px;
}

.header-interactive {
  background-color: #293449;
}

.header-interactive-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.header-logo {
  position: absolute;
  z-index: 10;
  height: 50px; /* Для прилегания outline к краям изображения. */
}

.header-logo:hover {
  opacity: 0.9;
}

.header-logo:active {
  opacity: 0.8;
}

.header-logo:focus-visible {
  outline: 1px solid #ffffff;
}

.header-search {
  height: 45px;
  margin-left: 220px;
  margin-right: auto;
  flex-grow: 1;
}

.input-search {
  height: 100%;
  padding: 6px 12px 5px 52px;
  border: 0;
  width: 100%;
  background-color: #293449;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  background-image: url("../images/search-light.svg");
  background-repeat: no-repeat;
  background-position: 20px;
}


.input-search:hover,
.input-search:focus-visible {
  background-color: #f1f5f7;
  color: #3d546f;
  background-image: url("../images/search-dark.svg");
}

.input-search:focus-visible {
  outline: none;
}

.login-wrapper {
  display: flex;
  /* display: none; */ /* none при залогиненом пользователе, иначе flex. */
}

.login {
  display: flex;
  margin-top: 14px;
  margin-left: 12px;
  margin-right: 2px;
  text-decoration: none;
  height: min-content;
  color: #f1f5f7;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.login::before {
  content: url("../images/login.svg");
  height: 16px;
  margin-right: 12px;
}

.login:focus-visible,
.logged-username:focus-visible {
  outline: none; /* outline отключен, т.к. в нем нет необходимости: при фокусе на элементе появляется всплывающая форма, которая а) закрывает собой элемент б) повторяет весь его функционал.
  Вместо этого изменен opacity, на случай изменения положения формы.*/
  opacity: 0.5;
}

.loggedin-wrapper {
  display: flex;
  display: none; /* none при не залогиненом пользователе, иначе flex. */
  padding-top: 10px;
  position: relative;
}

.logged-username {
  display: flex;
  gap: 7px;
  color: #F1F5F7;
  text-decoration: none;
  height: min-content;
  margin-left: 18px;
}

.logged-username:before {
  content: url("../images/user.svg");
  display: block;
  fill: #ffffff;
  margin-top: 3px;
}

.header-logout {
  padding: 4px;
  margin-left: 15px;
  height: 20px;
}

.header-logout:hover {
  opacity: 0.7;
}

.header-logout:active {
  opacity: 0.5;
}

.header-logout:focus-visible {
  opacity: 0.7;
  outline: none;
}

.logout-icon {
  height: 16px;
  width: 16px;
}

.logout-icon path {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}

.login-wrapper:hover > .popup-login,
.login-wrapper:focus-within > .popup-login {
  display: flex;
}

.loggedin-wrapper:hover > .popup-loggedin,
.loggedin-wrapper:focus-within > .popup-loggedin {
  display: flex;
}

.popup-login {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 90;
  top: 13px;
  right: 3px;
  width: 360px;
  padding: 19px 29px 35px 31px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.popup-title-login {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 47px;
  max-width: 280px; /* Ширина подобрана так, чтобы не пересекаться с кнопкой закрытия формы. */
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 10px;
}

.input {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #3d546f;
  border-radius: 2px;
  padding: 6px 8px;
  color: #556981;
  font-size: 16px;
  line-height: 24px;
  cursor: url("../images/hand.svg"), pointer;
}

.input::placeholder {
  color: #cccccc;
}

.input:hover {
  border: 1px solid #63a63e;
}

.input:focus-visible {
  border: 1px solid #63a63e;
  outline: 1px solid #ffbf47;
}

.input:invalid {
  border: 2px solid #ee3643;
}

.input:invalid.input:hover {
  border: 2px solid #ee3643;
  outline: 2px solid #ee3643;
}

.input:disabled {
  background-color: #f8fafb;
  border: 1px solid #e2e2e2;
}

.input:empty {
  /* Устраняет применение :invalid к пустому полю.  */
  border: 1px solid #3d546f;
}

.input:empty:hover {
  /* Устраняет применение :invalid к пустому полю.  */
  border: 1px solid #3d546f;
  outline: 1px solid #ffbf47;
}

.popup-line-remember {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 14px;
  margin-bottom: 38px;
}

.popup-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.checkbox-container input {
  appearance: none;
  outline: none;
}

.checkbox-on {
  opacity: 0;
}

.checkbox:checked ~ .checkbox-on {
  opacity: 1;
}

.checkbox:checked ~ .checkbox-off {
  opacity: 0;
}

.checkbox-container {
  position: relative;
  padding-left: 25px; /* Значение для большинства checkbox на странице. */
  display: flex;
}

.popup-form .checkbox-container {
  padding-left: 31px; /* Значание для checkbox в попапе. */
  width: 140px;
  box-sizing: border-box;
}

.checkbox-on,
.checkbox-off {
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-container:hover path {
  fill: rgba(50, 66, 92, 0.6);
}

.checkbox-container:active path {
  fill: rgba(50, 66, 92, 0.2);
}

.checkbox-text {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  margin-top: 3px;
  width: max-content;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox-container:active .checkbox-text {
  opacity: 0.4;
}

.checkbox-container:focus-within {
  outline: 2px solid #3d546f;
  outline-offset: 2px;
}


.popup-helps {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.popup-forgotpassword {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  padding-top: 3px;
  max-width: 120px;
}

.popup-forgotpassword:hover {
  opacity: 0.6;
}

.popup-forgotpassword:active {
  opacity: 0.3;
}

.popup-forgotpassword:focus-visible {
  outline: 2px solid #3d546f;
  outline-offset: 2px;
}

.popup-line-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 10px; /* Для визуального инетрлиньяжа между кнопками, если они будут добавляться и создавать новую строку. */
  transform: translateX(-5px); /* Нормализует воздух вокруг первого пункта меню при наведении. */
}

.btn-login {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  padding: 11px 11px 11px 55px;
  width: 145px;
  min-height: 40px;
  box-sizing: border-box;
  border: none;
  background-color: #63a63e;
  background-image: url("../images/login-white.svg");
  background-repeat: no-repeat;
  background-position: 25px calc(100% / 2);
  cursor: url("../images/hand.svg"), pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-login:hover {
  background-color: #5fbb2d;
}

.btn-login:active {
  background-color: #518534;
}

.btn-login:focus-visible {
  outline: 2px solid #293449;
}

.btn-register {
  text-decoration: none;
  color: #32425c;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #63a63e;
  background-color: #ffffff;
  padding: 10px 15px;
  width: 145px;
  box-sizing: border-box;
  cursor: url("../images/hand.svg"), pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-register:hover {
  border: 2px solid #3d546f;
}

.btn-register:active {
  color: #c5c5c5;
  border: 2px solid #c5c5c5;
}

.btn-register:focus-visible {
  outline: 2px solid #293449;
}

.popop-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("../images/close.svg");
  cursor: url("../images/hand.svg"), pointer;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.popop-btn-close:hover {
  opacity: 0.7;
}

.popop-btn-close:active {
  opacity: 0.3;
}

.popop-btn-close:focus-visible {
  outline: 2px solid #3d546f;
}

.popup-loggedin {
  display: block;
  display: none;
  position: absolute;
  z-index: 90;
  top: 12px;
  right: 4px;
  width: 360px;
  padding: 22px 29px 35px 31px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2px;
}

.loggedin-form {
  display: flex;
  flex-direction: column;
}

.popup-title-loggedin {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.popup-link {
  text-decoration: none;
  width: max-content;
  color: #3d546f;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.popup-link:hover {
  opacity: 0.7;
}

.popup-link:active {
  opacity: 0.5;
}

.popup-link:focus-visible {
  outline: 2px solid #293449;
  outline-offset: 2px;
}

.btn-logout {
  text-decoration: none;
  color: #32425c;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #63a63e;
  background-color: #ffffff;
  padding: 10px 15px;
  width: 145px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("../images/hand.svg"), pointer;
}

.btn-logout:hover {
  border: 2px solid #3d546f;
}

.btn-logout:active {
  color: #c5c5c5;
  border: 2px solid #c5c5c5;
}

.btn-logout:focus-visible {
  outline: 2px solid #293449;
}

.header-menu {
  background-color: #3d546f;
}

.header-menu-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-nav {
  position: relative;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -18px;
}

.nav-link {
  display: block;
  padding: 19px 23px 27px 22px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.1px;
  position: relative;
}

.nav-link::after {
  content: attr(title);
  color: transparent;
  position: absolute;
  top: 19px;
  left: 22px;
  letter-spacing: 0.1px;
  font-weight: 700;
  /* Псевдоэлемент наследует текст своего родителя и занимает место, которое занимал бы родитель в жирном начертании. При клике на родителя - родитель становится прозрачным, а псевдоэлемент видимым.
  Если делать жирынм текст в самом списке, это сдвигает вправо последующие пункты. */
}

.nav-link:hover,
.nav-link:focus-visible {
  background-color: #32425c;
  outline: none;
  color: #c5c5c5;
}

.nav-link:active {
  background-color: #32425c;
  color: transparent;
}

.nav-link:active::after {
  color: #ffffff;
}

.header-counters {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: auto;
}

.btn-order {
  background-color: #63a63e;
  border-radius: 4px;
  border: none;
  padding: 12px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  width: 170px;
  min-height: 42px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
}

.btn-order:focus-visible {
  outline: 1px solid #ffffff;
}

.order-icon {
  width: 18px;
  height: 18px;
  opacity: 0.6;
}

.order-icon path {
  fill: #ffffff;
}

.header-bookmarks,
.header-basket {
  display: flex;
  margin-top: 12px;
  padding: 5px;
  text-decoration: none;
}

.bookmarks-amount,
.inbasket-amount {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 8px;
  margin-right: 3px;
}

.header-bookmarks:focus-visible,
.header-basket:focus-visible {
  outline: 1px solid #ffffff;
}

/* footer */

.footer-content {
  background-color: #32425c;
}

.footer-content-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-links {
  min-width: 400px;
}

.footer-active {
  min-width: 250px;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-contacts {
  margin-bottom: 23px;
}

.footer-address {
  display: block;
  color: #f3f7f9;
  font-style: normal;
  letter-spacing: -0.2px;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-phone {
  display: block;
  text-decoration: none;
  color: #f3f7f9;
  width: min-content;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-phone:hover {
  opacity: 0.7;
}

.footer-phone:active {
  opacity: 0.5;
}

.footer-phone:focus-visible {
  outline: 1px solid #ffffff;
}

.socials-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 396px;
  margin-bottom: 32px;
}

.social-item {
  text-decoration: none;
}

.social {
  background-color: rgba(255, 255, 255, 0.10);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.social img {
  display: block;
}

.social:hover {
  background-color: #293449;
}

.social:active {
  opacity: 0.7;
}

.social:focus-visible {
  outline: 1px solid #ffffff;
}

.footer-feedback {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 300px;
}

.feedback-text {
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feedback-email {
  color: #ffd180;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feedback-email:hover {
  text-decoration: underline 1px;
  color: #ffbf47;
}

.feedback-email:active {
  text-decoration: underline 1px;
  opacity: 0.7;
}

.feedback-email:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.footer-subscribe {
  text-align: right;
  margin-bottom: 57px;
}

.subscribe-title {
  color: #ffffff;
  margin-bottom: 2px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subscribe-form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.input-email {
  width: 223px;
  padding: 10px 16px;
  box-sizing: border-box;
  border: 1px solid #63a63e;
  border-radius: 2px;
}

.input-email::placeholder {
  color: #bdbdbd;
  font-size: 14px;
  line-height: 18px;
}

.input-email:focus-visible {
  outline: 1px solid #ffbf47;
}

.input-email:invalid {
  border: 1px solid #ee3643;
}

.input-email:disabled {
  background-color: #f8fafb;
  border: 1px solid #e2e2e2;
}

.input-email:empty {
  /* Устраняет применение :invalid к пустому полю.  */
  border: 1px solid #63a63e;
}

.input-email:empty:hover {
  /* Устраняет применение :invalid к пустому полю.  */
  border: 1px solid #3d546f;
  outline: 1px solid #ffbf47;
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #63a63e;
  border: none;
  cursor: url("../images/hand.svg"), pointer;
}

.subscribe-icon {
  width: 18px;
  height: 18px;
}

.btn-subscribe:hover {
  background-color: #5fbb2d;
}

.btn-subscribe:active {
  background-color: #518534;
}

.btn-subscribe:focus-visible {
  outline: 1px solid #ffbf47;
}

.footer-copyrights {
  background-color: #293449;
}

.footer-copyrights-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-copyright {
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 21px;
  min-width: 400px;
  letter-spacing: -1px;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-credits {
  min-width: 250px;
  color: #ffffff;
  text-align: right;
  font-size: 14px;
  line-height: 18px;
  margin-top: 21px;
  margin-bottom: 21px;
  letter-spacing: -0.1px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.htmlacademy-link {
  color: #ffd180;
  text-decoration: none;
}

.htmlacademy-link:hover {
  text-decoration: underline 1px;
  color: #ffbf47;
}

.htmlacademy-link:active {
  text-decoration: underline 1px;
  opacity: 0.7;
}

.htmlacademy-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

/* main */

/* Блок с разделами, слайдер */

.main-features {
  width: 1170px;
  margin: 0 auto;
  margin-top: 52px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  column-gap: 30px;
  row-gap: 28px;
}

.main-feature {
  position: relative;
  padding: 20px 165px 33px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  box-sizing: border-box;
  background-position: 243px 45px;
  background-repeat: no-repeat;
  background-color: #556981;
}

.feature-materials {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.feature-tools {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.feature-equipment {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.feature-sale {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.feature-delivery {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.slider-container {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  background-color: #3d546f;
}

.feature-caption {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 16px; /* Обеспечивает воздух до заголовка, сколько бы строк в нём ни было. */
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 10px 10px 10px 28px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 5px 10px;
  cursor: url("../images/hand.svg"), pointer;
}

.feature-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.feature-link:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.feature-link:focus-visible {
  outline: 2px solid #3d546f;
}

.feature-materials {
  background-color: #ffbf47;
  background-image: url("../images/icon-paints.svg");
}

.feature-tools {
  background-color: #3bbce3;
  background-image: url("../images/icon-tools.svg");
}

.feature-equipment {
  background-color: #dc91d8;
  background-image: url("../images/icon-equipment.svg");
}

.feature-sale {
  background-color: #8ed78f;
  background-image: url("../images/icon-sale.svg");
}

.feature-delivery {
  background-color: #ffbf47;
  background-image: url("../images/icon-delivery.svg");
}

.feature-new:after {
  content:url("../images/new.svg");
  position: absolute;
  top: 0;
  right: 0;
}

.slide {
  display: none; /* По умолчанию слайды скрыты, кроме имеющего класс slide-current. */
  min-height: 390px;
  padding: 50px 50px 120px 50px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-color: #556981;
}

.slide-current {
  display: block; /* Включает видимость текущего слайда. */
}

.slider-title {
  font-family: "FiraSans", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-button {
  position: absolute;
  top: 179px;
  width: 50px;
  height: 50px;
  background-color: rgba(41, 52, 73, 0.6);
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: url("../images/hand.svg"), pointer;
  z-index: 10;
}

.slider-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.slider-button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-button:focus-visible {
  outline: 2px solid #ffffff;
}

.slider-left {
  left: 20px;
  background-image: url("../images/slider/slider-arrow-left.svg");
}

.slider-right {
  right: 20px;
  background-image: url("../images/slider/slider-arrow-right.svg");
}

.btn-standart {
  display: block;
  min-height: 45px;
  min-width: 45px;
  padding: 13px 5px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ee3643;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  cursor: url("../images/hand.svg"), pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-standart:hover {
  background-color: #ca2c37;
}

.btn-standart:active {
  background-color: #ba2732;
}

.btn-standart:focus-visible {
  outline: 2px solid #293449;;
}

.slider-tocatalog {
  position: absolute;
  left: 50px;
  bottom: 40px;
  min-width: 195px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 400px;
}

.slider-tocatalog:focus-visible {
  outline: 2px solid #ffffff;
}

.slider-pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  padding: 0 100px;
  box-sizing: border-box;
  position: absolute;
  bottom: 15px;
}

.slider-pagedot {
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: #ffd180;
  border: none;
  border-radius: 50%;
  cursor: url("../images/hand.svg"), pointer;
}

.slider-pagedot:hover {
  background-color: #ffbf47;
}

.slider-pagedot:active {
  background-color: #ff9947;
}

.slider-pagedot:focus-visible {
  outline: 2px solid #3d546f;
}

.pagedot-current {
  background-color: #ffffff;
}

/* Блок "Каталог" */

.main-catalog {
  width: 1170px;
  margin: 0 auto;
}

.catalog-title {
  font-family: "FiraSans", sans-serif;
  color: #293449;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-container {
  display: flex;
}

.catalog-filters {
  width: 220px;
  margin-right: 73px;
}

.filters-range {
  margin-bottom: 40px;
}

.range-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.range-slider {
  width: 220px;
  height: 40px;
  background-color: #f7f3ec;
  margin-bottom: 7px;
  position: relative;
}

.range-backline {
  position: absolute;
  top: 19px;
  left: 33px;
  height: 2px;
  width: 64px;
  background-color: #5fbb2d;
}

.range-topline {
  position: absolute;
  top: 19px;
  left: 98px;
  height: 2px;
  width: 102px;
  background-color: #3d546f;
}

.range-button {
  position: absolute;
  top: 9px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #3d546f;
  border-radius: 50%;
  cursor: url("../images/hand.svg"), pointer;
}

.range-button:hover {
  background-color: #518534;
}

.range-button:active {
  background-color: #5fbb2d;
}

.range-button:focus-visible {
  outline: 2px solid #ee3643;
}

.range-button-from {
  left: 20px;
}

.range-button-to {
  left: 90px;
}

.range-fields {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.range-fields:after { /* Тире между полями ввода */
  content: "";
  position: absolute;
  top: 19px;
  left: 105px;
  width: 8px;
  height: 1px;
  background-color: #293449;
}

.range-input {
  width: 95px;
  height: 40px;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  background-color: #f7f3ec;
  color: #293449;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.range-input::placeholder {
  color: #cccccc;
  font-size: 14px;
  line-height: 18px;
}

.range-input:focus-visible {
  outline: 2px solid #3d546f;
}

.filters-checkboxes,
.filters-radios {
  margin: 0 0 28px 0;
  padding: 0;
  border: none;
}

.filters-checkboxes .checkbox-text {
  margin-top: 1px;
  margin-bottom: 2px;
  padding-left: 2px;
}

.checkboxes-title,
.radio-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

.filters-checkboxes .checkbox-container {
  margin-bottom: 18.5px;
  width: min-content;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 16px;
  padding-top: 1px;
}

.radio-container input {
  appearance: none;
  outline: none;
}

.radio-text {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  margin-top: 3px;
  width: max-content;
}

.radio:before {
  content: url("../images/radio-off.svg");
  position: absolute;
  top: 3px;
  left: 4px;
}

.radio:checked::before {
  content: url("../images/radio-on.svg");
}

.filters-radios:focus-within {
  outline: 2px solid #3d546f;
  outline-offset: 2px;
}

.btn-showfilter {
  text-decoration: none;
  color: #32425c;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #3d546f;
  background-color: #ffffff;
  padding: 10px 15px;
  width: 220px;
  box-sizing: border-box;
  cursor: url("../images/hand.svg"), pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-showfilter:hover {
  /* Состояния покоя для этой кнопки соответствует hover из стайлгайда, поэтому остояния обменяны местами. */
  border-color: #63A63E;
}

.btn-showfilter:active {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.btn-showfilter:focus-visible {
  border-color: #63A63E;
  outline: 2px solid #ffbf47;
}

.catalog-sorting {
  margin-top: 31px;
  margin-bottom: 32px;
  margin-left: 6px;
}

.select-container {
  position: relative;
  width: min-content;
}

.select {
  min-width: 280px;
  height: 40px;
  padding: 8px 32px 8px 16px;
  box-sizing: border-box;
  color: #3d546f;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  border: 2px solid #3d546f;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-container:hover .select {
  border-color: #63a63e;
  cursor: url("../images/hand.svg"), pointer;
}

.select:focus-visible {
  border-color: #63a63e;
  outline: 1px solid #ffbf47;
}

.select-arrow {
  position: absolute;
  top: 7px;
  right: 2px;
  padding: 10px;
  cursor: url("../images/hand.svg"), pointer;
}

.select-arrow:hover path {
  fill: #63a63e;
}

.catalog-cardslist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 33px;
  row-gap: 28px;
  margin-bottom: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 270px;
  min-height: 380px;
  padding: 27px 27px 23px 27px;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.card-photo-container {
  /* На случай, если фото окажется меньше стандартной ширины. */
  width: 216px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 14px;
}

.card-title {
  color: #293449;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  max-width: 216px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 13px;
  flex-grow: 1;
}

.card-oldprice {
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-bottom: 12px;
  max-width: 216px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price-container {
  /* Обертка для того, чтобы весь ценник был по центру карточки, а надпись в нем - по центру прямоугольной части ценника. */
  min-width: 139px;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
}

.card-pricelabel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee3643;
  position: relative;
  height: 40px; /* Расширение по вертикали не предусмотрено, т.к. по макету в ценнике только число (числа по правилам типографики не переносятся на новую строку).
  Если возможны двустрочные ценники, то размер псевдэлемента-уголка нужно расчитывать динамически, исходя из высоты ценника: height / sqrt(2). */
  margin-right: 20px;
  max-width: 200px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
}

.card-price-container::after {
  content: "";
  display: block;
  width: 30.5px;
  height: 28.5px;
  border-radius: 2px;
  background-color: #ee3643;
  transform: rotate(45deg);
  position: absolute;
  right: 5px;
  top: 5.8px;
}

.card-price-container:hover .card-pricelabel,
.card-price-container:hover::after {
  background-color: #ca2c37;
}

.card-price-container:active .card-pricelabel,
.card-price-container:active::after {
  background-color: #ba2732;
}

.card-price-container:focus-visible {
  outline: 2px solid #293449;
}

.card-new:before {
  content: url("../images/new.svg");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}

.card-overlay {
  position: absolute;
  width: 216px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.90);
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  padding-top: 34px;
  padding-right: 12px;
  box-sizing: border-box;
  display: none; /* По умолчанию скрыто. */
}

.card:hover .card-overlay {
  display: flex;
}

.card-overlay:focus-within {
  display: flex;
}

.btn-buy {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  padding: 11px 11px 11px 46px;
  width: 135px;
  min-height: 40px;
  box-sizing: border-box;
  border: none;
  background-color: #63a63e;
  background-image: url("../images/cart-buy.svg");
  background-repeat: no-repeat;
  background-position: 23px 13px;
  cursor: url("../images/hand.svg"), pointer;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
}

.btn-buy:focus-visible {
  outline: 2px solid #293449;
}

.btn-bookmark {
  text-decoration: none;
  color: #32425c;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #63a63e;
  background-color: #ffffff;
  padding: 10px 15px;
  width: 135px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("../images/hand.svg"), pointer;
}

.btn-bookmark:hover {
  border: 2px solid #3d546f;
}

.btn-bookmark:active {
  color: #c5c5c5;
  border: 2px solid #c5c5c5;
}

.btn-bookmark:focus-visible {
  outline: 2px solid #293449;
}

.catalog-pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 53px;
}

.pagination-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  min-width: 50px;
  max-width: 75px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: #3d546f;
  border-radius: 2px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.pagination-link:hover {
  opacity: 0.7;
}

.pagination-link:active {
  opacity: 0.5;
}

.pagination-link:focus-visible {
  outline: 2px solid #293449;
}

.pagination-current .pagination-link  {
  color: #3d546f;
  background-color: #ffffff;
}

.pagination-showmore .pagination-link {
  background-color: #ee3643;
  padding-left: 38px;
  padding-right: 38px;
  max-width: 250px;
  margin-left: 10px;
}

/* Блок "Сервисы" */

.main-services {
  background-color: #f4f7f9;
}

.section-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex; /* Для предотвращения схлопывания margin'ов. */
  flex-direction: column;
}

.services-title {
  display: block;
  padding: 0 100px; /* Воздух вокруг заголовка. */
  margin-top: 52px;
  margin-bottom: 30px;
  font-family: "FiraSans", sans-serif;
  color: #293449;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.services-text {
  color: #293449;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 63px;
  max-width: 1170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.services-cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 52px;
}

.service-card {
  display: block;
  width: 370px;
  min-height: 385px;
  padding: 160px 30px 30px 30px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: 30px 25px;
}

.service-card:hover .service-title {
  opacity: 0.7;
}

.service-card:active .service-title {
  opacity: 0.5;
}

.service-card:focus-visible {
  outline: 2px solid #293449;
}

.service-title {
  color: #32425c;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 22px;
  max-width: 310px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-text {
  color: #000000;
  max-width: 310px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-delivery {
  background-image: url("../images/services-delivery.svg");
}

.service-warranty {
  background-image: url("../images/services-warranty.svg");
}

.service-credit {
  background-image: url("../images/services-credit.svg");
}

/* Блоки "О компании", "Контакты" */

.sections-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.main-about {
  width: 620px;
  margin-right: 49px;
}


.about-title,
.contacts-title {
  font-family: "FiraSans", sans-serif;
  display: block;
  margin-top: 52px;
  margin-bottom: 22px;
  color: #293449;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-texts {
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 25px;
}

.about-text {
  color: #293449;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 26px;
}

.btn-about {
  width: 195px;
}

.contacts-text {
  color: #293449;
  font-size: 16px;
  line-height: 24px;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 31px;
}

.contacts-map-link {
  display: block;
  /* Интерактивные состояния не прописаны, т.к. предполагается, что в готовом виде карта будет интерактивная. */
}

.contacts-map-photo {
  display: block;
}

.contacts-map-link:focus-visible {
  outline: 2px solid #293449;
}
